/*css файл с базовыми стилями, чтобы не было конфликтов в стилях*/

:root {
    --bg-color: rgb(184, 228, 255);
    --header-color: rgb(255, 255, 255);
    --font-size-header: 25px;
    --font-size-header-find: 20px;
    --nav-padding: 30px;
    --find-width: 100%;
    --padding-left-side: 5%;
    --navbar-height: 70px;
    --photo-height: 62px;
    --right-side-padding: 8%;
    --light-red: rgba(255, 0, 0, 0.4);
}

body {
    position: relative;
    background: var(--bg-color);
    box-sizing: border-box;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    margin: 0;
    padding: 0;
}

.navigation {
    /*общие настройка для header*/
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-right: var(--nav-padding);
}

.left-side {
    /*левая сторона header*/
    display: flex;
    justify-content: space-between;
    width: 33%;
    font-size: var(--font-size-header);
    padding-left: var(--padding-left-side);
    padding-right: var(--padding-left-side);
}


#find {
    /*середина header*/
    height: 35px;
    border: 0 solid #cccccc;
    background: var(--light-red);
    border-radius: 10px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    width: var(--find-width);

}

#find::-moz-placeholder {
    color: #7effb5;
    font-size: var(--font-size-header-find);
}

#find::-webkit-input-placeholder {
    color: #7effb5;
    font-size: var(--font-size-header-find);
}

.find {
    width: 33%;
}

.name-photo {
    /*правая сторона header*/
    width: 33%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-left: var(--right-side-padding);
}

#name {
    /*имя с правой стороны */
    font-size: var(--font-size-header);
}

#photo {

    height: var(--photo-height);
    width: var(--photo-height);

    background-color: #1c7430;
    border-radius: 60px;
}

.is-active {
    border-bottom: 5px solid var(--light-red);
}