
.tabs-nav {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.container {
    text-align: center;
}

.tabs-nav__item {
    border-bottom: 2px solid transparent;
    padding: 20px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    font-size: 1.5em;
    transition: .8s;
    color: white;
}


.tabs-nav {
    background-color: #000000;

}

.tabs-nav__item.is-active {
    background-color: #ffffff;
    color: black;
}

.tab {
    display: none;
    padding: 20px;
    text-align: left;
}

input {
    margin: 5px;
}

.tab.is-active {
    display: block;

}


.new_musician {
    /*стили добавление нового музыканта*/
}

.button {
    cursor: pointer;
}

.musician_block {
    transition: all 2s ease;
    display: flex;
    margin: 20px;
}

textarea {
    border-radius: 10px;
    margin: 5px;
    width: 75%;

}

.button_type2 {
    height: 40px;
    padding: 1%;
    transition: all .5s ease;
    border-radius: 10px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.button-custom {
    border-radius: 11px;
    padding: 1%;
}

.new_genre {
    /*стили добавления нового жанра*/
}

.new_album {
    /*стили добавления нового альбома*/
}

.users {
    /*стили показа всех пользователей платформы для их редактирования итд */
}
