
.tabs-nav {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.container{
    text-align: center;
}
.tabs-nav__item {
    border-bottom: 2px solid transparent;
    padding: 20px;
    cursor: pointer;
    flex: 1;
    text-align: center;
    font-size: 1.5em;
    transition: .4s;
}


.tabs-nav{
    background-color: #9d9d9d;
}
.tabs-nav__item.is-active {
    background-color: white;
}

.tab {
    display: none;
    padding: 20px;
    text-align: left;
}

.tab.is-active {
    display: block;
}


.new_musician{
    /*стили добавление нового музыканта*/
}

.new_genre{
    /*стили добавления нового жанра*/
}
.new_album{
    /*стили добавления нового альбома*/
}
.users{
    /*стили показа всех пользователей платформы для их редактирования итд */
}
