/*Это будут стили главной страницы без регистрации*/
.container-for-offers {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 70px;
    height: 400px;
}

.side {
    width: 45%;
    text-align: center;
    padding: 25px 40px;
    background-color: white;
    border-radius: 37px;
    margin-right: 10px;

}

.text-inside-side {
    font-size: 27px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 30px 45px;
    font-size: 23px;
}

.button {
    border-radius: 15px;
    background-color: #0f6674;
    color: white;
    padding: 7px;
    cursor: pointer;
    transition: .4s ease-in-out;
    font-size: 23px;
    text-align: center;


}
.button:hover{
    color: black;
    background-color: #7effb5;
}

.description-btn {
    transition: .4s ease-in-out;
    cursor: pointer;
}
.description-btn:hover{
    color: #0f6674;

}

.description{
    font-size: 18px;
}

/*тут будут стили для страницы профиля, если ты не зарегистрирован */

.side-profile{
    margin-left: auto;
    margin-right: auto;
}

.one_button{
    width: 30%;
    margin: auto;
}
/*TODO надо сделать адаптивность*/


