.main-header {
    position: fixed;
    top: 70px;
    width: 50%;
    background-color: var(--bg-color);
    padding-top: 10px;
}
.main-header-profile{
    position: fixed;
    top: 70px;
    width: 90%;
    background-color: var(--bg-color);
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}
.about-account {
    display: flex;
    justify-content: space-between;
    width: 20%;
    font-size: 23px;
}

.main-header input {
    /*середина header*/
    height: 35px;
    border: 0 solid #cccccc;
    border-radius: 10px;
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    width: 50%;
    margin-left: 30px;
}
.block-with-album{
    display: flex;
    border-bottom: 1px solid grey;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;

}
.albums-and-songs{
    width: 100%;
    display: flex;
}
.block-with-album{
    justify-content: space-between;
    font-size: 18px;
}

.albums {
    width: 50%;
    padding: 40px;
}
.songs{
    width: 50%;
    padding: 40px;
}